.img-wrap {
    position: relative;
    display: inline-block;
    font-size: 0;
    border-left: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    min-width: 25px;
}
.img-wrap .close {
    position: absolute;
    top: 2px;
    right: 2px;
    z-index: 100;
    background-color: #FFF;
    padding: 2px 2px 2px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    opacity: .2;
    text-align: center;
    font-size: 8px;
    line-height: 8px;
    border-radius: 50%;
    border-left: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
}
.img-wrap:hover .close {
    opacity: 1;
}